{% extends 'base.html' %}
{% block title %}{{ user.username }}'s tasks{% endblock %}
{% block content %}
<div class='container'>
  <p>Hello, {{ user.username }}</p>
  <form>
    {{ newtaskform }}
    <button class='btn btn-primary' role='button'>Create</button>
  </form>
{% if tasks.count == 0 %}
  <p>No tasks registered</p>
{% else %}
  <table class='table'>
    <thead>
      <th scope='col'>Name</th>
      <th scope='col'>Created</th>
      <th scope='col'>Status</th>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.id }}: {{ task.name }}</td>
        <td>{{ task.created }}</td>
        <td>{{ task.status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
</div>
{% endblock %}