{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% blocktrans with nick=user.username %}{{ nick }}'s tasks{% endblocktrans %}{% endblock %}
{% block content %}
  <h1 class='mt-3 mb-2'>{% blocktrans with nick=user.username %}Hello, {{ nick }}!{% endblocktrans %}</h1>
  <form action="{% url 'new_task' %}" method="post">
    {% csrf_token %}
    <div class='input-group'>
      {{ newtaskform }}
      <button class='btn btn-primary' role='button'>{% trans "Create" %}</button>
    </div>
  </form>
{% if tasks.count == 0 %}
  <p>{% trans "No tasks registered" %}</p>
{% else %}
  <table class='table'>
    <thead>
      <th scope='col'>{% trans "Name" context "Table column" %}</th>
      <th scope='col'>{% trans "Created" context "Table column; specifies WHEN was the task created" %}</th>
      <th scope='col'>{% trans "Status" context "Table column" %}</th>
      <th scope='col'></th>
    </thead>
    <tbody>
    {% for task in tasks %}
      <tr>
        <td>{{ task.name }}</td>
        <td>{{ task.created|date:'H:m, d b Y' }}</td>
        <td>{{ task.get_status }}</td>
        <td><a href="{% url 'delete_task' task_id=task.id %}">DEL</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}